.aboutUs {
  width: 1440px;
  padding: 100px 80px;
  margin: auto;
  display: flex;
  .aboutUs__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin-right: 80px;
    .aboutUs__info-h2 {
      margin-bottom: 15px;
    }
    .aboutUs__info-p {
      margin-bottom: 20px;
      .aboutUs__info-p_b {
      }
    }
  }
}
