.footer {
  max-width: 1920px;
  height: 100px;
  margin: auto;
  background: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;
  .footer__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;

    color: rgba(255, 255, 255, 0.5);
    .footer__text_b {
    }
  }
}
