h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

h1 {
  font-family: Banny;
  font-size: 96px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  &::after {
    content: "";
    width: 60px;
    height: 5px;
    background: #e8c300;
    border-radius: 50px;
    position: absolute;

    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

h2 {
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  &::after {
    content: "";
    width: 60px;
    height: 5px;
    background: #e8c300;
    border-radius: 50px;
    position: absolute;

    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

p b {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  padding: 10px;
  background: #e5e5e5;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;

  color: rgba(51, 51, 51, 0.5);
  &[type="submit"] {
    background: #e8c300;
    text-align: center;

    cursor: pointer;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;

    text-transform: uppercase;

    color: #ffffff;
  }
}

.FontAwesome5free {
  font-family: 'Font Awesome 5 Free';
  color: #E8C300;
}
